{% extends '@AcMarcheDuobac/base.html.twig' %}
{% block title %}Me connecter{% endblock %}

{% block body %}

    <div class="text-center">

        <p class="text-info">
            Rentrez votre numéro de matricule et votre numéro de puce du duobac
        </p>

        <main class="form-signin">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form method="post" action="{{ path('app_login') }}">
                <img class="mb-4" src="{{ asset('bundles/acmarcheduobac/images/Marche_logo.png') }}" alt="Adl"
                     width="90"
                >
                <h1 class="h3 mb-3 fw-normal">Authentifiez-vous</h1>

                <div class="form-floating">
                    <input type="text" value="{{ last_username }}" name="username" class="form-control"
                           id="floatingInput" placeholder="Votre numéro de matricule">
                    <label for="floatingInput">Votre numéro de matricule</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                           placeholder="Numéro de puce du duobac">
                    <label for="floatingPassword">Numéro de puce du duobac</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Me connecter</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>

            <button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="ti ti-info-circle"></i> Où trouver ces informations ?
            </button>

        </main>
    </div>

    {% include '@AcMarcheDuobac/security/_facture.html.twig' %}
{% endblock %}

