<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Numéro de puce</th>
        <th scope="col">Date de pesée</th>
        <th scope="col">Poids (kg)</th>
        <th scope="col">Personne à charge</th>
    </tr>
    </thead>
    <tbody>
    {% for pesee in pesees %}
    <tr>
        <td>{{ pesee.pucNoPuce }}</td>
        <td>{{ pesee.datePesee | date('d-m-Y') }}</td>
        <td>{{ pesee.poids|number_format(2,',') }}</td>
        <td>{{ pesee.aCharge }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><strong>Soit un total de</strong></td>
        <td><strong>{{ total|number_format(2,',') }} kg </strong></td>
        <td></td>
    </tr>
    </tbody>
</table>