<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{{ path('duobac_list') }}" class="nav-link">Mes duobacs</a></li>
    <li class="nav-item"><a href="{{ path('duobac_contact') }}" class="nav-link">Pesées</a></li>
    <li class="nav-item"><a href="{{ path('duobac_contact') }}" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">{{ app.user }}</a></li>
</ul>
